@model IEnumerable<UserViewModel>

@*Ctrl+K, Ctrl+D*@

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<a asp-action="Add" class="btn btn-primary">Add New</a>

<div id="alert" class="alert alert-success alert-dismissible fade show mt-4 d-none" role="alert">
  <strong>User Deleted</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<table class="table table-striped  mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>Name</th>
            <th>Email</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@string.Join(" , ",user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Users" asp-action="ManageRoles" asp-route-userId="@user.Id">Manage Roles</a>
                    <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">Modify Profile</a>
                    <a href="javascript:;" class="btn btn-danger js-delete" data-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@

@section Scripts{
    <script>
        $(document).ready(function() {
            $(' .js-delete').on('click', function() {

                var btn = $(this);


                bootbox.confirm({
                    message: "are you sure that you need to delete this user",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function(result) {
                        if (result) { 
                            $.ajax({
                                url: '/api/Users/?userId=' + btn.data('id'),
                                method: 'DELETE',
                                success: function() { 
                                    btn.parents('tr').fadeOut();
                                    //alert("user deleted");
                                    $('#alert').removeClass('d-none');
                                    setTimeout(function() {$('#alert').addClass('d-none'); },5000);
                                },
                                error: function() {
                                    alert("something went error");
                                }

                            });
                        }
                    }
                });


                //var result = confirm("are you sure that you need to delete this user");
                //if (result) {
                //    console.log(btn.data('id'));
                //}
            })
        });
    </script>
}         